/*
margin:  ; the de-facto perimeter
border:  ; the apparent perimeter
padding: ; the white-space cushioning
content: ; the stuff (to frame)
*/

:root {
	--primary-color: #003000ff;
	--secondary-color: #ffe2feff;
	--accent-color1: #003080c8;
	--accent-color2: #ffffffff;
	--heading-font: "Times New Roman", "Georgia", serif;
	--body-font: Arial, Helvetica, sans-serif;
}

header {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	color: var(--accent1-color);
}

header, main, footer {
	width: 840px;
	margin: 0 auto;
	/*font-size: auto;*/
}

h1, h2 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	text-align: center;
	background-color: var(--secondary-color);
	padding: 3px;
}

nav, p, section, article {
	margin: -4px;
	padding: 20px;
}

nav {
	background-color: var(--accent-color2)
}

.socialmedia a {
	text-decoration: none;
}

.hero {
	position: relative;
}

.hero img {
	/*div background img*/
	display: block;
	width: 100%;
	height: auto;
}

/*.hero*/
hero h1 {
	/*the title of the hero section:
	"White River Rafting"*/
	position: absolute;
	top: 20px;
	left: 33.3%;
	width: 40%;
	margin: 0%;
	text-align: center;
	background-color: var(--accent-color1);
	padding: 2px;
	/*background-color: #003080c8;*/
	color: var(--accent-color2);
	/* color: #ffffff */
}

.hero article {
	position: absolute;
	top: 50%;

}

.hero article img {
	margin: 0px;
	width: 128px;
	/*top: 46.5%;
	left: 78.9%;*/
	float: right;

	/* position: absolute; */
}

.hero article p {
	padding: 40px;
	background-color: var(--accent-color1);
	/* left: 4.1%;
	top: 47.12%; */
	color: var(--accent-color2);
}

.socialmedia {
	padding: 0%;
}

footer {
	position: relative;
	padding: 0% 0% 0% 100%;
	padding: 18px;
	background-color: var(--accent-color2);
	width: 840px;

}

.source {
	background-color: var(--accent-color2);
}

.socialmedia img {
	height: auto;
	padding: 16px;
	position: absolute;
	width: 100px;

}

.facebook {
	top: 0px;
	left: 50%;
}

.linkedin {
	top: 0px;
	left: 60%;
}

.instagram {
	top: 0px;
	left: 70%;
}