table {
	border-collapse: collapse;
	border: 2px solid rgb(140, 140, 140);
	letter-spacing: 1px;
	font-size: 16px;
	position: relative;
}

/* figure{
	display: grid;
}

figcaption {
	justify-self: center;
} */

/*  */

table {
	position: relative;
}

figcaption {
	position: absolute;
	left: 175px;
}

/*  */

th, td {
	border: 1px solid rgb(150, 150, 150);
	text-align: center;
}

.dark {
	background-color: rgb(0, 0, 0);
	color: white;
	font-weight: 700;
}

.fill {
	background-color: rgb(240, 240, 240);
}