* {
	font-family: times;
	font-size: 100px;
}

form {
	display: grid;
	grid-template: 1fr 450px 1fr / 1fr 450px 1fr;
}

button {
	grid-area: 2/2/3/3;
}

div {
	padding: 10px 0;
	padding-left: 50px;
	margin-right: -40px;
}

input {
	height: 72px;
	width: 250px;
}