nav {
	background-color: #000088;
	padding: 10px;

}

nav a {
	color: #ffffff;
	display: block;
	padding: 10px;
}

main {
	min-width: 170px;
	max-width: 92%;
	margin: 0;
	border: 0;
	padding: 6px;
	background-color: #fdfdfd;
	color: #00000f;
	text-align: left;
}

main img {
	width: 150px;
	height: auto;
	border: 1px;
	padding: 2px;
	box-shadow: 0 1px 30px #888888;
}

aside {
	width: 240px;
	margin: 0;
	border: 0;
	padding: .0007rem;
	background-color: #acfffc;
	color: #00000f;
	text-align: center;
}

aside img {
	width: 200px;
	height: auto;
}

h1 {
	color: #003366;
}

p {
	padding: 0;
}

footer {
	width: 80%;
	height: auto;
	margin-top: 24px;
	border-top: 1px solid #000000;
	padding: 0 10% 0 10%;
	color: #00000f;
	text-align: center;
}